force-app/main/default/flows/Scheduler_Update_Cases_CustomNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_Cases</name>
        <label>Send Custom Notification Cases</label>
        <locationX>176</locationX>
        <locationY>972</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Cases closed due to no response from Customer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Cases Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_of_All</name>
        <label>Assignment of All</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>LastModifiedCompare</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 10</expression>
    </formulas>
    <interviewLabel>Scheduler - Update Cases CustomNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduler - Update Cases CustomNotification</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_of_All</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Customer response</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LastModifiedCompare</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type_ID</name>
        <label>Get Custom Notification Type ID</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Custom_Notification_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClosedCases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Type_ID</targetReference>
        </connector>
        <inputReference>CaseList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-06</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
