force-app/main/default/flows/SFProject_Related_SFTickets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_SF_Project</name>
        <label>Post to SF Project</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!countTicket} number of Tickets are updated.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_SF_Ticket_Description</name>
        <label>Assign SF Ticket Description</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Loop_Child_Tickets.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFTicketUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Child_Tickets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Tickets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountTicketRecords</name>
        <label>CountTicketRecords</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>countTicket</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SFTicketUpdateList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_SF_Project</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SFProject - Related SFTickets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFProject - Related SFTickets</label>
    <loops>
        <name>Loop_Child_Tickets</name>
        <label>Loop Child Tickets</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Child_Tickets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SF_Ticket_Description</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SFTicket_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Tickets</name>
        <label>Get Child Tickets</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Tickets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Salesforce_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SFTicket_List</name>
        <label>Update SFTicket List</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>CountTicketRecords</targetReference>
        </connector>
        <inputReference>SFTicketUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Tickets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Salesforce_Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>countTicket</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SFTicketUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Salesforce_Ticket__c</objectType>
    </variables>
</Flow>
